.toggle-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .bar-top,
  .bar-middle,
  .bar-bottom {
    content: "";
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 3px;
    background-color: #081800;
    transition-duration: 0.5s;
  }
  .bar-middle {
    margin: 6px 0px;
  }

  .bar-top.opened {
    rotate: 225deg;
    margin-top: -1px;
  }
  .bar-middle.opened {
    display: none;
  }
  .bar-bottom.opened {
    rotate: 315deg;
    margin-top: -2px;
  }
}
