.sign-in-form::before {
  content: "";
  position: absolute;
  height: inherit;
  width: inherit;
  display: block;
  left: 10px;
  top: 10px;
}

.form-field-auth {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  border: 2px solid #74bb8f;
  border-radius: 2px;
}

.label-auth {
  color: #74bb8f;
  font-weight: normal;
  opacity: 0.85;
  order: 1;
  pointer-events: none;
  text-shadow: none;
  text-transform: capitalize;
  transform-origin: left top;
  transform: scale(1) translate3d(0, 11px, 0);
  transition: 0.2s ease all;
  padding-left: 10px;
}

.input-auth {
  background-color: transparent;
  width: 100%;
  display: flex;
  font-size: 100%;
  text-shadow: none;
  border: 0;
  flex: 1 1 auto;
  order: 2;

  &:focus {
    outline: 0;
  }

  &:focus + label {
    color: #499265;
    opacity: 1;
    transform: scale(0.85) translate3d(0, -15px, 0);
  }
}

.input-length-more-1 + .label-auth {
  color: #499265;
  opacity: 1;
  transform: scale(0.8) translate3d(0, -15px, 0);
}
