.burger-menu::before,
.menu-burger::before,
.profile::before,
.arrow-up::before {
  content: "";
  position: absolute;
  margin-top: 2px;
  margin-left: 3px;
  width: inherit;
  height: inherit;
  background-color: #74bb8f;
  z-index: -1;
  transition-duration: 0.2s;
}

.profile::before {
  margin-top: 3.5px;
  margin-left: 6px;
}

.active {
  color: #84d4a3;
}

.active:before {
  content: "· ";
}
